@import url('https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap');

.footer {
    width: 100%;
    height: 372px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    /* top: 2000px; */
    left: 0px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid #bbb;
  }
  .footer_info_container {
    width: 287px;
    height: 232px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 568px;
    overflow: hidden;
  }
  .footer_header_container {
    width: 258px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .footer_header {
    width: 209px;
    color: rgba(39,32,66,1);
    position: absolute;
    top: 0px;
    left: 49px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .footer_icon {
    width: 28px;
    color: rgba(39,32,66,1);
    position: absolute;
    top: 4px;
    left: 0px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .footer_content_container {
    width: 287px;
    height: 145px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 0px;
    overflow: hidden;
  }
  .footer_content {
    width: 287px;
    color: rgba(39,32,66,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .footer_content_address {
    width: 287px;
    color: rgba(139,139,165,1);
    position: absolute;
    top: 45px;
    left: 0px;
    font-family: Quicksand;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .footer_content_phone {
    width: 287px;
    color: rgba(139,139,165,1);
    position: absolute;
    top: 122px;
    left: 0px;
    font-family: Quicksand;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .footer_content_email {
    width: 287px;
    color: rgba(139,139,165,1);
    position: absolute;
    top: 85px;
    left: 0px;
    font-family: Quicksand;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }

  .footer_right {
    width: 590px;
    color: rgba(139,139,165,1);
    position: absolute;
    top: 330px;
    left: 425px;
    font-family: Quicksand;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
 